

$background-color: #600;
$font-color: #ffc20e;
$unit: 30px;
$width: (4 * $unit);
$height: (4 * $unit);
$black: #000;

header {
  box-sizing: border-box;
  text-align: center;
}

form {
  background-color: $font-color;
  color: $background-color;
}

body {
  background-color: $background-color;
  color: $font-color;
}

.game-board .col-xs-4 {
  border: 1px solid $black;
  box-sizing: border-box;
  height: $height;
  text-align: center;
  width: $width;
 }

// .container .col-xs-4 {
//   border: 1px solid $black;
//   box-sizing: border-box;
//   height: $height;
//   text-align: center;
//   width: $width;
//  }
